@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Onest', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #211951;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

